.header-contact-info ul li .iocn-holder, .header-contact-info ul li .text-holder {

    padding-left: 15px;
}

span.flaticon-arrows{
    float: left;
}

.main-menu {
    float: right;
    position: relative;
}

section.rev_slider_wrapper{
    direction: ltr;
}



.single-footer-widget .footer-contact-info li .icon-holder {
    position: absolute;
    top: 2px;
    right: 0;
}

.single-footer-widget .footer-contact-info li .text-holder {
    margin-right: 40px;
}
.single-footer-widget .usefull-links.left {
    float: right;
}
